<div class="submit-form">
  <div class="form-group">
    <label for="nameOrDoc">Nome ou Doc#</label>
    <input
      type="text"
      class="form-control"
      id="nameOrDoc"
      required
      [(ngModel)]="tutorial.title"
      name="title"
    />
  </div>

  <div class="form-group">
    <label for="name">Agricultor</label>
    <input
      class="form-control"
      id="name"
      [(ngModel)]="farmer.name"
      name="name"
    />
  </div>
  
  <div class="form-group">
    <label for="documentNumber">Doc#</label>
    <input
      class="form-control"
      id="documentNumber"
      [(ngModel)]="farmer.document.documentNumber"
      name="documentNumber"
    />
  </div>

  <div class="form-group">
    <label for="address">Endereço</label>
    <input
      class="form-control"
      id="address"
      [(ngModel)]="farmer.address"
      name="address"
    />
  </div>

  <button (click)="searchFarmer()" class="btn btn-success">Search</button>
</div>
