<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Nome ou Doc#</mat-label>
      <input matInput>
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Agricultor</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Doc#</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Endereço</mat-label>
      <input matInput>
    </mat-form-field>
</div>